
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="../favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= (typeof title != "undefined" ? title : "Page title") %>
    </title>
    {{ meta }}
    <script type="module" src="../_scss/style.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ head }}
  </head>
  <body class="<%= (typeof id != 'undefined' ? id : 'Page id') %>">

    <%- include('_partials/header'); -%>
    <%- include('_partials/breadcrumb'); -%>

    {{ content }}

    <%- include('_partials/footer'); -%>

    {{ script }}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
